
.DS_Store
src/.DS_Store
src/.DS_Store
src/cnn_satellite/.DS_Store
src/cnn_satellite/data/.DS_Store
src/cnn_satellite/data/.DS_Store
*.png
*.pyc
src/cnn_satellite/data/sat_images.zip
src/cnn_satellite/data/nightlights_data/viirs_2015.tif
